# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/custom_logs/
logs/meraki_logs/
logs/summary_log/

# Environments
.venv/
env/
.env
venv/
ENV/

# Lock and dependency files
uv.lock

# OS files
.DS_Store
Thumbs.db